.runjs-codelist-view-container
{
    font-size: var(--nav-item-size);
    font-weight: var(--nav-item-weight);
    color: var(--nav-item-color);
}

.runjs-codelist-view-container .nav-header .right {
    float: right;
}
.runjs-codelist-view-container .nav-header .sort.clickable-icon {
    padding: 0;
}

.runjs-codelist-view-container .nav-header .sort .icon.sort_asc {
    display: inline-block;
}

.runjs-codelist-view-container .nav-header .sort .icon.sort_desc {
    display: none;
}

.runjs-codelist-view-container .nav-header .sort.descend .icon.sort_asc {
    display: none;
}

.runjs-codelist-view-container .nav-header .sort.descend .icon.sort_desc {
    display: inline-block;
}

.runjs-codelist-view-container .icon {
    display: inline-block;
    align-items: center;
    padding: 0;
    padding-inline-end: var(--size-2-3);
    opacity: var(--icon-opacity);
    color: var(--icon-color);
}

.runjs-codelist-view-container .icon .svg-icon:not(.right-triangle) {
    /* --icon-size: var(--icon-xs); */
    --icon-stroke: var(--icon-s-stroke-width);
}

.runjs-codelist-view-container .view-content .icon .svg-icon:not(.right-triangle) {
    --icon-size: var(--icon-xs);
}

.runjs-codelist-view-container .view-content .icon {
    opacity: var(--icon-opacity);
    opacity: calc(var(--icon-opacity) * 0.6);
}

.runjs-codelist-view-menu .menu-item,
.runjs-codelist-view-container .is-clickable {
    cursor: pointer;
}

@media (hover: hover) {
.runjs-codelist-view-menu .menu-item:active,
.runjs-codelist-view-menu .menu-item:active .svg-icon:not(.right-triangle),
body:not(.is-grabbing) 
.runjs-codelist-view-container .tree-item-self.is-clickable:active,
.runjs-codelist-view-container .tree-item-self.is-clickable:active .svg-icon:not(.right-triangle),
.runjs-codelist-view-container .icon.is-clickable:active .svg-icon:not(.right-triangle) {
    color: orange;
    background-color: rgba(255, 255, 255, 0.1);
}
}

.runjs-codelist-view-container .tree-item.module .tree-item-self.is-clickable {
    cursor: initial;
}

.runjs-codelist-view-container .view-content .tree-item.favorite .tree-item-self:after {
    content: "❤️";
    font-size: var(--nav-item-size);
    margin-left: auto;
    opacity: 0.3;
}

.runjs-codelist-view-container .view-content .tree-item.favorite:after svg{
    stroke: var(--nav-item-color);
}

.runjs-codelist-view-container .nav-header .ft-item.favorite,
.runjs-codelist-view-menu .ft-item.favorite
{
    opacity: 0.3;
}

.runjs-codelist-view-container.ft-favorite .nav-header .ft-item.favorite,
.runjs-codelist-view-menu.ft-favorite .ft-item.favorite {
    opacity: 1;
}

.runjs-codelist-view-menu .ft-item
{
    opacity: 0.3;
}

.runjs-codelist-view-menu.ft-script .ft-item.script,
.runjs-codelist-view-menu.ft-module .ft-item.module,
.runjs-codelist-view-menu.ft-file .ft-item.file,
.runjs-codelist-view-menu.ft-codeblock .ft-item.codeblock
{
    opacity: 1;
}

.runjs-codelist-view-container .view-content .tree-item {
    white-space: nowrap;
}

.runjs-codelist-view-container .view-content .tree-item .tree-item-self:not(.nav-folder-title) .icon:first-child,
.runjs-codelist-view-container.ft-script:not(.ft-module) .view-content .icon.form,
.runjs-codelist-view-container.ft-module:not(.ft-script) .view-content .icon.form
{
    margin-left: calc(-1 * var(--size-4-5));
}

.runjs-codelist-view-container.ft-script:not(.ft-module) .view-content .icon.type,
.runjs-codelist-view-container.ft-module:not(.ft-script) .view-content .icon.type {
    display: none;
}

.runjs-codelist-view-container .view-content .tree-item .tree-item-self .name-node {
    width: 100%;
}

.runjs-codelist-view-container .view-content .tree-item.is-collapsed .tree-item-children {
    display: none;
}

.runjs-codelist-view-container .view-content .tree-item .tree-item-self .group-name {
    display: none;
}

.runjs-codelist-view-container.ft-favorite .view-content .tree-item:not(.nav-folder):not(.favorite),
.runjs-codelist-view-container.ft-favorite .view-content .tree-item.nav-folder:not(.has-favorite),
.runjs-codelist-view-container.ft-script:not(.ft-module) .view-content .tree-item.module,
.runjs-codelist-view-container.ft-module:not(.ft-script) .view-content .tree-item.script,
.runjs-codelist-view-container.ft-file:not(.ft-codeblock) .view-content .tree-item.codeblock,
.runjs-codelist-view-container.ft-codeblock:not(.ft-file) .view-content .tree-item.file {
    display: none;
}

.runjs-codelist-view-container  .view-content .tree-item.nav-folder > .tree-item-self::after {
    content: '(' attr(data-item_len) ')';
    white-space: nowrap;
    margin-left: auto;
    opacity: 0.6;
}

.runjs-settingtab .setting-head .setting-item-info > * {
    display: inline-block;
}

.runjs-settingtab .setting-head .setting-item-info .setting-item-description {
    margin-left: 0.5em;
}

.runjs-settingtab .setting-item-control input.mod-warning {
    color: var(--text-error);
}

.runjs-settingtab .setting-item-container:empty:before {
    content: "There is no item.";
    opacity: 0.5;
}

.runjs-settingtab .setting-item-container {
    border: 1px solid var(--background-modifier-border);
    border-radius: var(--radius-s);
    padding: 1em;
    margin-bottom: 0.5em;
    min-height: 1em;
}

.runjs-settingtab .setting-item-container .icon{
    margin-right: 0.5em;
    vertical-align: middle;
}

.runjs-settingtab .setting-item-container.command-container .setting-item-name,
.runjs-settingtab .setting-item-container.command-container .setting-item-name .command-name {
    width: 100%;
}

.runjs-settingtab .setting-item-container .command-name {
    margin-bottom: 6px;
}

.runjs-settingtab .setting-item-container .setting-item:last-child {
    padding-bottom: 0;
}

.runjs-settingtab .setting-item-container.command-container .setting-item-name * {
    float:left;
}

.runjs-settingtab .setting-item-container.command-container .setting-item-name .file-icon {
    clear:left;
}

.runjs-settingtab .setting-log-check::after {
    content: attr(data-label);
    margin-left: 0.5em;
}

.runjs-settingtab .setting-donate > *,
.runjs-settingtab .setting-donate > .setting-item-control > a {
    margin-bottom: auto;
}

.runjs-settingtab .event-handlers-container .setting-item,
.runjs-settingtab .event-handlers-container .setting-item .setting-item-control {
    display: block;
}

.runjs-settingtab .command-container .setting-item .setting-item-name .code-name,
.runjs-settingtab .ribbonIcon-container .setting-item .setting-item-name .code-name,
.runjs-settingtab .event-handlers-container .setting-item .setting-item-name .code-name {
    cursor: pointer;
}

.runjs-settingtab .command-container .setting-item .setting-item-name .code-name:hover,
.runjs-settingtab .ribbonIcon-container .setting-item .setting-item-name .code-name:hover,
.runjs-settingtab .event-handlers-container .setting-item .setting-item-name .code-name:hover {
    color: var(--nav-item-color-hover);
    background-color: var(--nav-item-background-hover);
}

.runjs-settingtab .event-handlers-container .setting-item .setting-item-control > * {
    display: inline-block;
    margin-left: var(--size-4-2);
}

.runjs-icon-modal .prompt-results {
    display: flex;
    flex-wrap: wrap;
}

.runjs-icon-modal .prompt-results .suggestion-item {
    display: inline-block;
    width: 42px;
    margin: 0 auto;
}

.runjs-codelist-modal .modal-title {
    padding: var(--size-4-3);
}

.runjs-codelist-modal .suggestion-icon {
    margin-right: 0.5em;
    vertical-align: middle;
    opacity: 0.5;
}

.runjs-object-modal .folder .suggestion-content::after,
.runjs-codelist-modal .folder .suggestion-content::after {
    content: "▶";
    font-size: 0.5em;
    margin-top: 0.5em;
    float: right;
    opacity: 0.5;
}

.runjs-codelist-modal .icon .svg-icon:not(.right-triangle) {
    --icon-size: var(--icon-m);
    --icon-stroke: var(--icon-s-stroke-width);
}

.runjs-codelist-modal[data-is_group=true] .prompt-instruction:not(.group){
    display: none;
}

.runjs-codelist-modal[data-is_group=false] .prompt-instruction:not(.normal){
    display: none;
}

.runjs-codelist-modal[data-is_group=true] .prompt-input-container::before {
    content: attr(data-parent);
    margin: auto calc( 0.2em - var(--size-4-6)) auto 0;
    z-index: 9999;
    white-space: nowrap;
    font-weight: bolder;
    height: calc( 2 * var(--size-4-6));
    line-height: calc( 2 * var(--size-4-6));
    border-bottom: 1px solid var(--background-secondary);
    padding-left: calc( 0.2em + var(--size-4-6));
}

.runjs-codelist-modal .prompt-input-container:not([data-parent='']):hover::before {
    background-color: var(--background-modifier-hover);
    cursor: pointer;
}

.runjs-object-modal .prompt-instruction.event_click,
.runjs-codelist-modal .prompt-instruction {
    cursor: pointer;
}

.runjs-object-modal .prompt-instruction.event_click:hover,
.runjs-codelist-modal .prompt-instruction:hover {
    background-color: var(--background-modifier-hover);
}

.runjs-object-modal .suggestion-item small {
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    opacity: 0.5;
    font-style: italic;
}

.runjs-object-modal .suggestion-item small > pre {
    margin: 0;
}

.runjs-object-modal .suggestion-item small > pre > code {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 0;
}

.runjs-object-modal .suggestion-item small > pre > button {
    display: none;
}

.runjs-object-modal.hide-detail small {
    display: none;
}

.runjs-message-modal .modal-content,
.runjs-confirm-modal .modal-content,
.runjs-prompt-modal .modal-content {
    user-select: text;
    -webkit-user-select: text;
}

.runjs-message-modal .modal-content p,
.runjs-confirm-modal .modal-content p,
.runjs-prompt-modal .modal-content p {
    white-space: pre-wrap;
}

.runjs-prompt-modal textarea.prompt-input {
    width: 100%;
    /* padding: var(--size-4-6); */
    background-color: var(--background-primary);
    font-size: var(--font-ui-medium);
    border: none;
    height: 240px;
    border-radius: 0;
    border-bottom: 1px solid var(--background-secondary);
}

.runjs-prompt-modal input.prompt-input,
.runjs-prompt-modal textarea.prompt-input {
    padding: inherit;
}

.runjs-prompt-modal textarea.prompt-input:hover,
.runjs-prompt-modal textarea.prompt-input:focus,
.runjs-prompt-modal textarea.prompt-input:focus-visible {
    border-bottom: 1px solid var(--background-secondary);
    box-shadow: none;
}

.runjs-suggest-modal .modal-title {
    padding: var(--size-4-3);
    padding-bottom: 0;
}

.runjs-suggest-modal .modal-content {
    padding: var(--size-4-3);
    padding-top: 0;
    padding-bottom: 0;
}
